.vertudo {
    display: flex;
    align-items: center;
    gap: 4px;

    color: #2A7AE4;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}